.searchGrid {
  display: grid;
  gap: 16px;
  padding-bottom: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  height: calc(100% - 45px);
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 10px;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 0%,
    rgba(241, 241, 241, 1) 35%,
    rgba(246, 246, 246, 1) 100%
  );
}

.content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.artisteAvatar {
  width: 100px;
  height: 100px;
}
.heading {
  display: flex;
  flex-direction: column;
}
.heading span {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.heading span:last-child {
  font-weight: 400;
  color: #666;
}
.heading span:last-child a {
  font-size: 14px;
}
.heading span:last-child:hover a {
  text-decoration: underline;
}
.trow .playPause {
  display: none;
}
.index {
  display: flex;
  justify-content: center;
  width: 39px;
}
.trow:hover .index {
  display: none;
}
.trow:hover .playPause {
  display: flex;
}

.tcell {
  border-bottom: none;
  padding: 8px 16px;
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
