.layout {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 300px;
  background-color: #f9f9f9;
  min-height: 100%;
  border-right: 1px solid #ccc;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.sidebar ul li {
  padding: 16px 32px;
  border-bottom: 1px solid #ccc;
}
.sidebar ul li a {
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 500 !important;
  font-size: 17px;
  white-space: nowrap;
}
.sidebar ul li a .icon {
  font-size: 30px;
  color: #333;
}
.sidebar ul li a:hover * {
  color: #f26419;
}
.sidebar ul li .active_link * {
  color: #f26419;
}
.profile_pic_info {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile_pic_info .user_avatar {
  width: 60px;
  height: 60px;
}
.section {
  padding: 16px 32px;
}
.section_title {
  font-size: 2rem;
  font-weight: bold;
}
.section_sub_title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}
.user_info {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 1.5rem 0 1rem 0;
}

.user_info li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 16px 0;
}
.user_info li span:first-child {
  color: #888;
  font-weight: 500 !important;
}
.user_info li span:last-child {
  font-weight: 500 !important;
}
.edit_btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 40px;
  font-weight: bold;
  border: 1px solid #333;
}
.user_info_edit {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  margin: 1.5rem 0 1rem 0;
}
.user_info_edit li {
  margin-bottom: 1rem;
}
.user_info_edit li label {
  display: block;
  font-weight: bold;
}
.user_info_edit li input {
  width: 100%;
  border: 1.5px solid #777;
  border-radius: 3.5px;
  height: 3rem;
  padding: 0 12px;
}
.user_info_edit li select {
  width: 100%;
  border: 1.5px solid #777;
  border-radius: 3.5px;
  height: 3rem;
  padding: 0 12px;
}
.date_group {
  display: flex;
  gap: 16px;
}
.date_group input {
  max-width: 200px;
}
.date_group select {
  max-width: 200px;
}
.btn_wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
  max-width: 600px;
}
.btn_wrapper button:first-child a {
  font-weight: bold;
  color: #666;
}
.btn_wrapper button:last-child {
  padding: 12px 32px;
  border-radius: 40px;
  font-weight: bold;
  background-color: #f26419;
}
