.banner {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.banner img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.text {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner p {
  font-weight: bold !important;
  text-align: center;
}
.banner h2 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold !important;
}
.banner button {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 4px 16px;
  font-weight: 600;
  font-size: 13px;
}
.banner button:focus {
  outline: 2px solid #ffffff94;
}
@media (min-width: 768px) {
  .banner {
    display: flex;
    gap: 16px;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1.5rem;
  }
  .banner p {
    display: block;
  }
  .banner h2 {
    font-size: 5rem;
    text-align: left;
  }
  .text {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.trackHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.trackHeader .title {
  font-size: 14px;
  font-weight: 600;
}
.trackHeader .title span {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}
